<%= simple_form_for recipe, html: { class: "recipe form" } do |f| %>
  <% if recipe.errors.any? %>
    <div class="error-message">
      <%= recipe.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.file_field :cover_image if false %>
  <%= f.input :name, input_html: { autofocus: true } %>
  <%= link_to "Cancel", :recipes, class: "btn btn--light" %>
  <%= f.submit class: "btn btn--secondary" %>
<% end%>
