<div class="my-4">
	<%= link_to "Recipes", :recipes %> / 

	<% unless params[:label].blank? %>
		labeled: <%= params[:label] %>
		-
		<%= link_to "Clear", label: nil %>
	<% end %>
</div>

<div class="my-4">
  <%= link_to "New Recipe", :new_recipe, class: "btn btn--primary" %>
</div>

<%= render @recipes %>


