<div class="header">
  <h1>
    Recipes
    <span id="recipes_count text-sm text-gray-400">
      <%= @recipes.size %>
    </span>
  </h1>

  <div class="my-4">
    <%= link_to "New Recipe", :new_recipe, class: "btn", data: { turbo_frame: dom_id(Recipe.new) } %>
  </div>
</div>

<%= turbo_frame_tag Recipe.new %>

<%= turbo_stream_from "recipes" %>

<%= turbo_frame_tag "recipes" do %>
  <%= render @recipes %>
<% end%>


<%= turbo_stream_from "recipes_count" %>
