<div class="my-4">
  <%= render "recipes/breadcrumbs", recipe: @recipe %>
</div>

<div class="my-4">
  <% @recipe.labels.each do |label| %>
    <%= link_to label, [:recipes, {label: label.to_s}],  class: "bg-gray-200 text-gray-500 py-1 px-2 rounded-sm text-sm" %>
  <% end %>
</div>

<div class="my-4">
  <% if @recipe.cover_image.attached? %>
    <div>
      <%= image_tag @recipe.cover_image.variant(:thumb) %>
    </div>
  <% end %>

  <h1 class="text-xl"><%= @recipe.name %></h1>
  <div class="text-sm text-gray-400">
		<%= @recipe.user %> &middot;
		<span>
			<%= @recipe.created_at %> 
		</span>
  </div>
</div>

<div class="my-4">
  <div class="flex">
    <%= link_to "Edit", [:edit, @recipe], class: "btn btn--light mr-1" %>
    <%= link_to "Edit Labels", [:edit_labels, @recipe], class: "btn btn--light mr-1" %>
    <%= link_to "Fork", [:fork, @recipe], class: "btn btn--light mr-1" %>
    <%= button_to "Delete", @recipe, method: :delete, class: "btn btn--light", form: {data: {turbo_confirm: "Are you sure?"}} %>
  </div>
</div>

<h2 class="my-4 font-bold">Ingredients</h2>

<%= render @recipe.ingredients.ordered %>

<div class="my-4">
  <%= simple_format @recipe.desc %>
</div>

<h2 class="my-4 font-bold">Timing</h2>
<div class="my-4">
  <%= @recipe.timing %>
</div>


<h2 class="my-4 font-bold">Comments</h2>

<div class="my-4">
	<% @commentable = @recipe %>
  <%= render "comments/form", comment: Comment.new %>
</div>

<div class="my-4">
	<%= render @recipe.comments.recent %>
</div>
