<%= simple_form_for item, html: { class: "" } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.file_field :cover_image if false %>
  <%= f.input :name, label_html: {class:"block"}, wrapper_html: {class:"my-4"}, input_html: {placeholder: "Item Name"} %>

  <div data-controller="autocomplete" data-autocomplete-url-value="/items/search" class="my-4">
    <%= f.input :parent_name, label: "Parent Category", label_html: {class: "block"}, input_html: {class: "w-auto", data: {autocomplete_target: 'input'} } %>
    <ul class="list-group absolute" data-autocomplete-target="results"></ul>
  </div>

  <%= f.submit class: "btn btn--primary" %>
<% end%>
