<div class="flex py-1 border-b">
	<div class="w-16 bg-gray-100 mr-2 flex justify-center">
		<% if item.cover_image.attached? %>
      <%= image_tag item.cover_image.variant(:thumb), class: "block" %>
		<% end %>
	</div>
  <div>
    <%= render "items/fullpath", item: item %>
    <% if item.involved_ingredient_size > 0 %>
      <span class="text-sm text-gray-400">
        <%= item.involved_ingredient_size %> cocktails
      </span>
    <% end %>
		<%= render "items/labels", item: item %>
  </div>
	<div class="inline-flex ml-4 text-sm text-gray-500">
		<span class="mr-4">
			<% if mark = current_user.in_my_bar?(item) %>
				<%= button_to mark, method: :delete, class: "text-green-500" do %>
					<i class="fa-solid fa-check"></i> IN BAR
				<% end %>
			<% else %>
				<%= button_to "+ TO MY BAR", [:marks, markable_type: "Item", markable_id: item.id, context: 'bar_item'], method: :post %>
			<% end %>
		</span>

		<% if mark = current_user.in_my_wish_list?(item) %>
			<%= button_to mark, method: :delete, class: "text-green-500" do %>
				<i class="fa-solid fa-check"></i> ON LIST
			<% end %>
		<% else %>
			<%= button_to "+ WISH", [:marks, markable_type: "Item", markable_id: item.id, context: 'wish_item'], method: :post %>
		<% end %>
	</div>
</div>
