<div class="my-4">
  <%= render "items/breadcrumbs", item: @item %> / Edit Labels
</div>

<div class="my-4">
	<% @item.labels.each do |label| %>
		<div class="flex items-center py-1 border-b">
			<%= link_to label, items_path({label: label.to_s}) %>
			<%= button_to "Remove", [:remove_label, @item, name: label.to_s], class: "ml-4 btn btn--light", method: :put, 
				form: {data: {turbo_method: :put, turbo_confirm: "Are you sure?"}} %>
		</div>
	<% end %>
</div>


<%= simple_form_for @item, url: [:add_label, @item], html: { class: "my-4" }, method: :put do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div data-controller="autocomplete" data-autocomplete-url-value="/items/search" class="my-4">
    <%= text_field_tag :name, nil, class: "w-auto", data: {autocomplete_target: 'input'} %>
    <ul class="list-group absolute" data-autocomplete-target="results"></ul>
  </div>

  <%= f.submit "Add", class: "btn btn--primary" %>
<% end%>
