<div class="my-4">
  <%= render "items/breadcrumbs", item: nil %>
</div>

<%== pagy_nav(@pagy) %>

<div class="my-4">
  <%= render @items %>
</div>

<%== pagy_nav(@pagy) %>


<div class="my-4">
  <%= render 'form', item: Item.new %>
</div>
	 
