
<div class="my-4">
  <%= render "items/breadcrumbs", item: @item %>
</div>

<div class="my-4">
	<%= render "items/labels", item: @item %>
</div>

<div class="my-4">
  <h1 class="text-2xl"><%= @item.name %></h1>
  <span class="text-sm text-gray-400">
    <%= @item.involved_ingredient_size %> cocktails
  </span>
</div>

<div class="my-4 flex">
  <%= link_to "Edit", [:edit, @item], class: "btn btn--light mr-1" %>
  <%= link_to "Edit Labels", [:edit_labels, @item], class: "btn btn--light mr-1" %>
  <%= button_to "Delete", @item, method: :delete, class: "btn btn--light", form: {data: {turbo_confirm: "Are you sure?"}} %>
</div>

<h3 class="my-4 mt-8 text-xl">Recipes</h3>
<div class="my-4">
  <% @item.involved_ingredients.each do |ingredient| %>
    <div class="py-1 border-b last:border-b-0"> 
      <%= link_to ingredient.recipe %>
    </div>
  <% end %>
</div>

<h2 class="my-4 font-bold">Comments</h2>

<div class="my-4">
	<% @commentable = @item %>
  <%= render "comments/form", comment: Comment.new %>
</div>

<div class="my-4">
	<%= render @item.comments.recent %>
</div>
